*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
}
/* header styles */
header{
    background-image: url('../images/donation1.jpg'),linear-gradient(white, black);
    /* background-image: url('../images/donation1.jpg'), linear-gradient(rgba(0 0 255 0.1) rgba(0 0 255 0.5)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
/* banner styles */
.banner{
    text-align: center;
    color: #fff;
    padding: 150px 0px;
}
.banner-title{
    font-size: 60px;
}
.banner-description{
    font-size: 20px;
    padding: 20px 0;
}
.btn{
    background: #FF5959;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}
/* main styles */
main{
    max-width: 1000px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
.head{
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 45px;
    color: #121212;
}
.head-description{
    color: #767676;
    font-size: 20px;
}
.amount-content{
    margin-top: 50px;
    text-align: center;
}
.amount-btn{
    background: #FAFAFA;
    color: #707070;
    padding: 32px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .5s;
}
.amount-btn:hover{
    background: #FAFAFA;
    color: #FF5959;
    border: 2px solid #FF5959;
}
.amount-input{
    border: 0;
   margin-top: 40px;
   padding: 10px 15px;
}
.amount-input::placeholder{
   color: #b9b9b9;
   font-size: 16px;
}
hr{
    margin-left: 195px;
    width: 67%;
    margin-top: 5px;
    margin-bottom: 30px;
}
/* plan section styles */
.plan-content{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.plan-item{
    border-radius: 5px;
    padding: 60px 25px;
}
.food{
    background: #EDF5F6;
}
.shelter{
    background: #FFEEEE;
}
.education{
    background: #FFF4D6;
}
.plan-title{
    font-weight: bold;
    font-size: 25px;
    padding: 25px 0;
}
.plan-description{
    font-size: 18px;
    color: #828585;
}
/* depend section styles */
.contents{
    display: flex;
    gap: 20px;
    align-items: center;
}
.img{
    margin-top: 130px;
}
.img img{
    max-width: 90%;
    border-radius: 5px;
}
/* update section styles */
.update-content{
    background: #FFF4D6;
    max-width: 80%;
    margin: 60px 120px;
    padding: 100px 0px;
    text-align: center;
}
.update-input{
    padding: 13px 200px 13px 10px;
    position: absolute;
    border-radius: 7px;
    background: #D9D9D9;
    border: 0;
    font-weight: bold;
    margin-left: -140px;
}
.update-btn{
    position: relative;
    left: 112px;
    top: 10px;
    background: #FF5959;
    display: inline;
    padding: 11px 35px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0;
    color: #fff;
}
/* footer styles */
footer{
    background: #0B0D17;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}
.footer-title{
    color: #FF5959;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
}